<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<h1>
    Rentals
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CarNAME</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>CustomerName</th>
            <th>CarId</th>
            <th>RentDate</th>
            <th>ReturnDate</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.carId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>